<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">All Short URLs</h1>

  <% if @target_urls.any? %>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-100">
          <tr>
            <th class="py-2 px-4 text-left">Original URL</th>
            <th class="py-2 px-4 text-left">Short URLs</th>
            <th class="py-2 px-4 text-left">Title</th>
          </tr>
        </thead>
        <tbody>
          <% @target_urls.each do |target_url| %>
            <tr class="border-b">
              <td class="py-2 px-4"><%= target_url.target_url %></td>
              <td class="py-2 px-4">
                <% target_url.short_urls.each do |short_url| %>
                  <div>
                  <%= link_to short_url(short_url.path), short_url(short_url.path), class: "text-blue-500 hover:underline" %>
                  <%= link_to "View Analytics", short_url_report_path(short_url.path), class: "text-green-500 hover:underline ml-2" %>
                  </div>
                <% end %>
              </td>
              <td class="py-2 px-4"><%= target_url.title_tag %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="text-gray-600">No short URLs have been created yet.</p>
  <% end %>

  <div class="mt-6">
    <%= link_to "Create New Short URL", new_short_url_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>